<!-- <div id="box">  -->
        <br> 
        <br> 
        <br> 
        <input name="userName" type="text" placeholder="Enter Username" [(ngModel)]="userName">
        <input name="userEmail" type="text" placeholder="Enter Email" [(ngModel)]="userEmail">  
        <input name="userPassword" type="password" placeholder="Enter Password" [(ngModel)]="userPassword">  
        <input name="userPassword" type="password" placeholder="Confirm Password" [(ngModel)]="confirmUserPassword">  

        <button type="submit" (click)="submit()">Register</button>
        <br> 
<br> 
<br> 
<!-- </div> -->