
<div class="header"> 

<app-header> </app-header>
    <div class="row"> 
        <div class="col-2"> 
            <h1> 
                Spring Food                 
            </h1>
            <p> Get fresh food from our firm to your table </p>
            <a href="" class="btn">Shop Now &#8594;</a>
    
        </div>
        <div class="col-2"> 
            <img src="assets/image2.png"> 
        </div>      
    </div>  
</div>
<div class ="categories"> 
   <div class="small-container"> 
        <div class="row"> 
            <div class="col-3"> 
                <img src="assets/category/fruits.png">
    
            </div>
            <div class="col-3"> 
                <img src="assets/category/veg.png">
    
            </div>
            <div class="col-3"> 
                <img src="assets/category/breads.png">
    
            </div>
            <div class="col-3"> 
                <img src="assets/category/seafood.png">
            </div>
            <div class="col-3"> 
                <img src="assets/category/dairy.png">
            </div>
    
        </div>
    </div>
    
</div>
    

