@model Teacher
@{
}

<h3>@Model.Name<h3/>
<p>Are you sure to delete?</p>
@using (Html.BeginForm("Delete", "Teacher", FormMethod.Post))
{
    @Html.HiddenFor(t => t.Id);
    <button type="submit">Yes</button>
}
<br />
<a  href="~/Teacher/Index">No</a>
