.board{
    height: 100vmin;
    width: 100vmin;
    margin-left: auto;
    margin-right: auto;
}
body{
    display: inline-block;
    align-content: center;
}
.row{
    height: 30%;
}
.gameStatus{
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    margin-left: auto;
    font: 25px; 
}
.reset{
    display: inline-block;
    margin-right: auto;
}

.text{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.showGameResult{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    
}
